@media (min-width: 992px) and (max-width: 1199.98px) {
	.home{
        width: 45px;
        height: 45px;
    }
    .home i{
        font-size: 20px;
    }
    .login .login-form form .body .fa-eye , .login .login-form form .body .fa-eye-slash{
        transform: translateX(25vw) translateY(82px);
    }
    .menu{
        height: 70px;
    }
    .menu .header-logo{
        width: 9%;
        margin-inline-start: 3%;
    }
    .menu nav{
        width: 70%;
    }
    .menu nav ul li a{
        padding: 22.4px 12px;
    }
    .menu nav ul li a:hover{
        transform: scale(110%);
    }
    .menu nav ul li .submenu{
        top: 104%;
        left: 11.6%;
    }
    .menu nav ul li .submenu .submenu-1{
        height: 340px;
    }
    .menu nav ul li .submenu .submenu-1 .menu-1 a{
        font-size: 25px;
    }
    .menu nav ul li .submenu .submenu-1 .menu-1 ul li a{
        font-size: 14px;
        margin-block: -0.5px;
    }
    .menu .header-icon{
        width: 39%;
    }
    .menu .header-icon input{
        width: 35%;
        height: 50%;
        margin-left: 30px;
    }
    .menu .header-icon input:focus{
        width: 60%;
        margin-left: 10px;
    }
    .menu .header-icon .icon .fa{
        font-size: 22px;
    }
    .feature1{
        height: 60vh;
    }
    .feature2{
        width: 93%;
        height: 360px;
        margin-bottom: 10px;
    }
    .feature2 .item img{
        object-fit: fill;
    }
    .feature3 .feature-3-1{
        width: 49.5%;
        height: 70%;
    }
    .product{
        width: 98%;
        margin-bottom: 60px;
        margin-top: -30px;
    }
    .product .item{
        margin-top: -20px;
        margin-bottom: -100px;
    }
    .feature3{
        height: 56vh;
    }
    .feature4{
        width: 98%;
        height: 200px;
        margin-top: 30px;
    }
    .feature-nb{
        width: 95%;
    }
    .last-feature{
        width: 90%;
        margin-block: 10px;
    }
    .last-feature .box{
        margin-top: 10px;
    }
    .last-feature .box .des{
        margin-bottom: 2%;
    }
    .last-feature .box .img img{
        object-fit: fill;
    }
    footer .footer-container .footer-top{
        height: 90%;
    }
    footer .footer-container .footer-bottom{
        height: 9.9%;
    }
    footer .footer-container .footer-top .box{
        width: 24.9%;
        padding: 40px 5px;
    }
    footer .footer-container .footer-top .box .logoname .name h4{
        font-size: 23px;
    }
    footer .footer-container .footer-top .box .payment .payment-icon-container .icon i{
        font-size: 27px;
    }
    footer .footer-container .footer-top .box ul li a{
        font-size: 13.5px;
    }
    .nike-product .nike-product-container .product{
        height: 650px;
    }
    .nike-product .nike-product-container .product .item .icon-hover{
        width: 50px;
        height: 200px;
        margin-top: 33%;
    }
    .nike-product .nike-product-container .product .item .des{
        margin-top: -40px;
    }
    footer .footer-container .footer-bottom{
        font-size: 17px;
    }
    footer .footer-container .footer-top .box h3{
        font-size: 20px;
        padding-left: 18px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.login .login-form{
        width: 40vw;
    }
    .login .login-form form .body .fa-eye , .login .login-form form .body .fa-eye-slash{
        position: fixed;
        transform: translateX(34.4vw) translateY(82px);
        cursor: pointer;
        display: none;
    }
    .cart-container , .fav-container{
        width: 40vw;
        /* overflow: hidden;    */
        transform: translateX(40vw);
    }
    .menu{
        height: 70px;
    }
    .menu .header-logo{
        width: 15%;
        margin-inline-start: 3%;
    }
    .menu .header-logo img{
        object-fit: fill;
    }
    .menu nav ul li:hover .submenu{
        display: none;
    }
    .menu nav{
        display: none;
        width: 102%;
        height: 100px;
        position: absolute;
        top: 70px;
        left: -.09%;
        transition: 0.5s;
    }
    .menu nav ul li{
        float: none;
    }
    .menu .header-icon{
        width: 100%;
        justify-content: flex-end;
        margin-inline-start: 5%;
    }
    .menu .header-icon input{
        margin-left: 20px;
    }
    .menu .header-icon input:focus{
        width: 40%;
    }
    .menu .header-icon .icon .fa-bars{
        display: block;
    }
    .feature1{
        height: 68vh;
    }
    .feature1 img{
        object-fit: contain;
    }
    .feature2{
        width: 95%;
        height: 300px;
    }
    .product{
        width: 99%;
    }
    .product .item{
        width: 49%;
        margin-bottom: -30px;
    }
    .feature3{
        width: 100%;
        height: 38vh;
    }
    .feature4{
        width: 99%;
        height: 200px;
    }
    .feature-nb{
        height: 400px;
        width: 95%;
    }
    .last-feature{
        width: 95%;
    }
    footer .footer-container .footer-top .box{
        width: 48%;
        height: 45%;
    }
    footer .footer-container .footer-bottom{
        height: 12%;
    }
    .pagination-container .pagination-content{
        width: 40%;
    }
    .nike-product{
        width: 99%;
    }
    .nike-product .nike-proudct-header {
        margin-block-end: -35px;
    }
    .nike-product .nike-product-container .product .item{
        width: 33%;
    }
    .feature-nike-end{
        width: 95%;
        height: 380px;
    }
    .feature1 img{
        object-fit: cover;
    }
    .nike-product .nike-product-container .product .item .icon-hover{
        width: 45px;
        height: 180px;
        margin-top: 60%;
    }
    .nike-product .nike-product-container .product{
        margin: 0 0 -130px 0;
    }
    .nike-product .nike-product-container .product .item .des{
        margin-top: -105px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px){ 
	.menu{
        height: 70px;
    }
    .menu .header-logo{
        width: 15%;
        margin-inline-start: 3%;
    }
    .menu .header-logo img{
        object-fit: fill;
    }
    .menu nav ul li:hover .submenu{
        display: none;
    }
    .menu nav{
        display: none;
        width: 102%;
        height: 100px;
        position: absolute;
        top: 70px;
        left: -.09%;
        transition: 0.5s;
    }
    .menu nav ul li{
        float: none;
    }
    .menu .header-icon{
        width: 100%;
        justify-content: flex-end;
        margin-inline-start: 5%;
    }
    .menu .header-icon input{
        margin-left: 20px;
    }
    .menu .header-icon input:focus{
        width: 40%;
    }
    .menu .header-icon .icon .fa-bars{
        display: block;
    }
    .cart-container , .fav-container{
        width: 60vw;
        transform: translateX(60vw);
    }
    .feature1{
        height: 53vh;
    }
    .feature1 img{
        object-fit: cover;
    }
    .feature2{
        width: 75%;
        height: 650px;
    }
    .feature2 .item{
        width: 100%;
        height: 50%;
        margin-bottom: 20px;
    }
    .product{
        width: 99%;
        margin-top: -55px;
    }
    .product .item{
        width: 49%;
        margin-bottom: -130px;
    }
    .feature3{
        height: 40vh;
    }
    .feature4{
        width: 99%;
        height: 570px;
    }
    .feature4 .feature-4-1{
        width: 75%;
        margin: auto;
        height: 33%;
        margin-block: 0.4%;
    }
    .feature-nb{
        width: 90%;
        height: 250px;
    }
    .last-feature{
        width: 100%;
    }
    .last-feature .box{
        width: 100%;
    }
    footer .footer-container .footer-top .box{
        width: 100%;
        height: 50%;
    }
    footer .footer-container .footer-bottom{
        height: 15%;
        font-size: 18px;
    }
    footer .footer-container .footer-top .box{
        padding: 10px 20px;
    }
    footer .footer-container .footer-top .box form{
        height: 15%;
    }
    footer .footer-container .footer-top .box form input{
        width: 50%;
        height: 100%;
    }
    footer .footer-container .footer-top .box form button{
        width: 15%;
    }
    .nike-product .nike-product-container .product{
        margin: -20px 0 60px 0;
    }
    .nike-product .nike-product-container .product .item{
        width: 100%;
        height: 900px;
        margin-block: -20px -20px;
    }
    .nike-product .nike-product-container .product .item .pic img{
        object-fit: contain;
    }
    .nike-product .nike-product-container .product .item .pic{
        margin-bottom: 6%;
    }
    .feature-nike-end{
        overflow: hidden;
        margin-top: -50px;
    }
    .feature-nike-end .box{
        height: 400px;
        width: 100%;
    }
    .feature-nike-end .box .img{
        height: 69%;
        margin-bottom: 1%;
    }
    .nike-product .nike-product-container .product .item .icon-hover{
        margin-top: 13%;
    }
    .pagination-container .pagination-content{
        width: 60%;
    }
    .menu .header-logo{
        width: 20%;
    }
}
@media (max-width: 575.98px) {
    .menu{
        height: 70px;
    }
    .menu .header-logo{
        width: 24%;
        margin-inline-start: 3%;
    }
    .menu .header-logo img{
        object-fit: fill;
    }
    .menu nav ul li:hover .submenu{
        display: none;
    }
    .menu nav{
        display: none;
        width: 102%;
        height: 100px;
        position: absolute;
        top: 70px;
        left: -.09%;
        transition: 0.5s;
    }
    .menu nav ul li{
        float: none;
    }
    .menu .header-icon{
        width: 100%;
        justify-content: flex-end;
        margin-inline-start: 5%;
    }
    .menu .header-icon input{
        margin-left: 20px;
    }
    .menu .header-icon input:focus{
        width: 40%;
    }
    .menu .header-icon .icon .fa-bars{
        display: block;
    }
    .cart-container , .fav-container{
        width: 65vw;
        transform: translateX(65vw);
    }
    .feature1{
        height: 40vh;
    }
    .feature2{
        width: 95%;
        height: 650px;
    }
    .feature2 .item{
        width: 100%;
        height: 50%;
        margin-bottom: 20px;
    }
    .feature3{
        width: 95%;
        overflow: hidden;
        margin: auto;
    }
    .feature3 .feature-3-1{
        height: 220px;
        width: 100%;
        /* height: 100%; */
        margin-block-end: 20px;
    }
    .feature3 .feature-3-1 img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    .feature4{
        width: 99%;
        height: 570px;
    }
    .feature4 .feature-4-1{
        width: 75%;
        margin: auto;
        height: 33%;
        margin-block: 0.4%;
    }
    .feature-nb{
        width: 90%;
        height: 250px;
    }
    .last-feature{
        width: 100%;
    }
    .last-feature .box{
        width: 100%;
    }
    .product{
        width: 98%;
    }
    .product .item{
        width: 100%;
        height: 500px;
        margin-bottom: -10px;
    }
    footer .footer-container .footer-top .box{
        width: 100%;
        margin-bottom: -30px;
    }
    footer .footer-container .footer-bottom{
        font-size: 12px;
    }

    .nike-product .nike-product-container .product{
        margin: -30px 0 60px 0;
    }
    .nike-product .nike-product-container .product .item{
        width: 100%;
        height: 900px;
        margin-block: -20px -20px;
    }
    .nike-product .nike-product-container .product .item .pic img{
        object-fit: contain;
    }
    .nike-product .nike-product-container .product .item .pic{
        margin-bottom: 6%;
    }
    .feature-nike-end{
        overflow: hidden;
        margin-top: -50px;
    }
    .feature-nike-end .box{
        height: 400px;
        width: 100%;
    }
    .feature-nike-end .box .img{
        height: 69%;
        margin-bottom: 1%;
    }
    .nike-product .nike-product-container .product .item .icon-hover{
        margin-top: 40%;
    }
    .pagination-container .pagination-content{
        width: 90%;
    }
}