@media (min-width: 992px) and (max-width: 1199.98px) {
	.home{
        width: 45px;
        height: 45px;
    }
    .home i{
        font-size: 20px;
    }
    .login .login-form form .body .fa-eye , .login .login-form form .body .fa-eye-slash{
        transform: translateX(25vw) translateY(82px);
    }
    .menu .header-logo{
        width: 9%;
        margin-inline-start: 3%;
    }
    .menu nav{
        width: 70%;
    }
    .menu nav ul li a{
        padding: 18px 12px;
    }
    .menu nav ul li a:hover{
        transform: scale(110%);
    }
    .menu nav ul li .submenu{
        top: 60px;
        left: 11.6%;
    }
    .menu nav ul li .submenu .submenu-1{
        height: 340px;
    }
    .menu nav ul li .submenu .submenu-1 .menu-1 a{
        font-size: 25px;
    }
    .menu nav ul li .submenu .submenu-1 .menu-1 ul li a{
        font-size: 14px;
        margin-block: -0.5px;
    }
    .menu .header-icon{
        width: 35%;
    }
    .menu .header-icon input{
        width: 35%;
        height: 50%;
        margin-left: 30px;
    }
    .menu .header-icon input:focus{
        width: 58%;
        margin-left: 10px;
    }
    .menu .header-icon .icon .fa{
        font-size: 18px;
    }
    .feature2{
        width: 93%;
        height: 360px;
        margin-bottom: 10px;
    }
    .feature2 .item img{
        object-fit: fill;
    }
    .product{
        width: 98%;
        margin-bottom: 60px;
        margin-top: -30px;
    }
    .product .item{
        margin-top: -20px;
        margin-bottom: -100px;
    }
    .feature3{
        height: 56vh;
    }
    .feature4{
        width: 98%;
        height: 200px;
        margin-top: 30px;
    }
    .feature-nb{
        width: 95%;
    }
    .last-feature{
        width: 90%;
        margin-block: 10px;
    }
    .last-feature .box{
        margin-top: 10px;
    }
    .last-feature .box .des{
        margin-bottom: 2%;
    }
    .last-feature .box .img img{
        object-fit: fill;
    }
    footer .footer-container .footer-top{
        height: 90%;
    }
    footer .footer-container .footer-bottom{
        height: 9.9%;
    }
    footer .footer-container .footer-top .box{
        width: 24.9%;
        padding: 40px 5px;
    }
    footer .footer-container .footer-top .box .logoname .name h4{
        font-size: 23px;
    }
    footer .footer-container .footer-top .box .payment .payment-icon-container .icon i{
        font-size: 27px;
    }
    footer .footer-container .footer-top .box ul li a{
        font-size: 13.5px;
    }
}