@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Kanit' , serif;
}
.colorwhite{
    color: white;
}
body{
    position: relative;
    overflow-x: hidden;
    margin: 0;
}
.login{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.404);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: translateY(-100%);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login .close-login{
    width: 30px;
    height: 30px;
    /* background-color: tan; */
    position: fixed;
    top: 20px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
    color: white;
}
.login .login-form{
    width: 30vw;
    height: 280px;
}
.login .login-form form{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    border-radius: 20px;
}
.login .login-form form .title{
    width: 100%;
    height:60px;
    background-color: rgb(0, 213, 255);
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
}
.login .login-form form .body{
    width: 100%;
    height: 89.4%;
    background-color: white;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.login .login-form form .body input{
    width: 90%;
    height: 40px;
    margin: 10px auto;
    outline: none;
    border: 2px solid rgba(68, 68, 68, 0.666);
    border-radius: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}
.login .login-form form .body input[type=submit]{
    margin-top: 0;
    background-color: black;
    color: white;
    font-size: 22px;
}
.login .login-form form .body input[type=password]{
    position: relative;
}
.login .login-form form .body .fa-eye , .login .login-form form .body .fa-eye-slash{
    position: fixed;
    transform: translateX(26.4vw) translateY(82px);
    cursor: pointer;
    display: none;
}
.login .login-form form .body .fa-eye{
    display: none;
}
.login .login-form form .body a , .login .login-form form .body p{
    font-size: 18px;
    text-decoration: none;
}
.login .login-form form .body a{
    color: blue;
}
.login .login-form form .body a:hover{
    text-decoration: underline;
    color: green;
}
.home{
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 0, 0.742);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 100;
}
.home i{
    color: black;
    font-size: 30px;
}
.cart-container , .fav-container{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 35vw;
    /* overflow: hidden;    */
    height: 100vh;
    background-color: rgb(197, 137, 59);
    transform: translateX(60vw);
    transition: 400ms ease all;
}
.cart-container .close , .fav-container .close{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-container .close p , .fav-container .close p{
    font-size: 40px;
    cursor: pointer;
    color: white;
}
.fav-container{
    background-color: rgb(0, 48, 0);
}
.top{
    height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top .text1 a{
    color: white;
    text-decoration: none;
}
.top .text1 a:hover{
    color: rgb(121, 121, 255);
    text-decoration: underline;
}
.menu{
    background-color: white;
    height: 60px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.582);
    position: sticky;
    top: 0;
    z-index: 100;
}
.menu .header-logo{
    width: 7%;
    height: 100%;
    margin-inline-start: 5%;
}
.menu .header-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.menu nav{
    width: 60%;
    height: 100%;
    background-color: white;
}
.menu nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
}
.menu nav ul li{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-inline-end: 20px;
}
.menu nav ul li a{
    padding: 18px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
    opacity: 0.6;
    font-weight: 550;
    position: relative;
}
.menu nav ul li a:hover{
    transform: scale(120%);
    opacity: 1;
    color: rgb(0, 0, 0);
}
.menu nav ul li .submenu{
    overflow: hidden;
    position: absolute;
    top: 60.3px;
    display: none;
    left: 13%;
    border: 1px solid black;
    border-top: none;
}
.menu nav ul li:hover .submenu{
    display: block;
}
.menu nav ul li .submenu .submenu-1{
    width: 87vw;
    height: 380px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.menu nav ul li .submenu .submenu-1 .menu-1{
    width: 17%;
    height: 100%;
}
.menu nav ul li .submenu .submenu-1 .menu-1 a{
    font-size: 30px;
}
.menu nav ul li .submenu .submenu-1 .menu-1 a:hover{
    color: black;
}
.menu nav ul li .submenu .submenu-1 .menu-1 ul li{
    float: none;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.menu nav ul li .submenu .submenu-1 .menu-1 ul li a{
    font-size: 16px;
    font-weight: 400;
    color: black;
}
.menu nav ul li .submenu .submenu-1 .menu-1 ul li:hover a{
    text-decoration: underline;
    transform: scale(100%);
}
.menu nav ul li .submenu .submenu-1 .pic-1{
    width: 25%;
    height: 100%;
}
.menu nav ul li .submenu .submenu-1 .pic-1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.menu .header-icon{
    width: 25%;
    height: 100%;
    /* background-color: tan; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.menu .header-icon input{
    width: 25%;
    height: 50%;
    padding: 5px; /* Add padding */
    background-color: white;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    margin-left: 50px;
    transition: .7s;
    cursor: text;
}
.menu .header-icon input:focus{
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 8px;
    width: 60%;
    transform: translateX(-20px);
    margin-left: 25px;
}
.menu .header-icon .icon{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu .header-icon .icon .fa{
    cursor: pointer;
    font-size: 25px;
    color: black;
    opacity: 0.5;
    transition: 0.2s;
}
.menu .header-icon .icon .fa-bars{
    display: none;
    transition: 0.5s;
}
.menu ,.header-icon .icon .fa:hover{
    opacity: 1;
}
.feature1{
    width: 90%;
    height: 95vh;
    background-color: black;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
}
.feature1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.feature2{
    width: 85%;
    height: 500px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.feature2 .item{
    width: 49%;
    height: 100%;
}
.feature2 .item img:hover{
    transform: scale(102%);
}
.feature2 .item img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: 0.4s;
    cursor: pointer;
}
.product{
    width: 95%;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.product .item{
    width: 32.5%;
    height: 500px;
    margin-bottom: 20px;
}
.product .item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.feature3{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: wrap;
}
.feature3 .feature-3-1{
    width: 49.5%;
    height: 100%;
}
.feature3 .feature-3-1 img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.feature4{
    width: 95%;
    height: 285px;
    margin:  auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: wrap;
}
.feature4 .feature-4-1{
    width: 32.5%;
    height: 100%;
}
.feature4 .feature-4-1 img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: 0.4s;
    cursor: pointer;
}
.feature4 .feature-4-1 img:hover{
    transform: scale(102%);
}
.feature-nb{
    width: 80%;
    height: 450px;
    /* background-color: red; */
    margin: auto;
    margin-top: 50px;
}
.feature-nb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.last-feature{
    width: 85%;
    overflow: hidden;
    /* background-color: red; */
    margin: auto;
    margin-block: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.last-feature .box{
    width: 48%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-sizing: border-box;
    margin-top: 30px;
}
.last-feature .box .des{
    width: 100%;
    height: 15%;
    /* background-color: tan; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.last-feature .box .des h2{
    color: black;
}
.last-feature .box .img{
    width: 100%;
    height: 85%;
    /* background-color: antiquewhite; */
}
.last-feature .box .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
    cursor: pointer;
}
.last-feature .box .img img:hover{
    transform: scale(104%);
}
footer{
    width: 100%;
    /* height: 500px; */
    overflow: hidden;
    background-color: rgb(51, 51, 51);
}
footer .footer-container{
    width: 99%;
    height: 100%;
    /* background-color: red; */
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .footer-container .footer-top{
    width: 100%;
    height: 88%;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .footer-container .footer-top .box{
    width: 24.5%;
    height: 100%;
    /* background-color: green; */
    padding: 40px 20px;
    box-sizing: border-box;
}
footer .footer-container .footer-top .box .logoname{
    width: 100%;
    height: 20%;
    /* background-color: tan; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
footer .footer-container .footer-top .box .logoname .logo{
    width: 35%;
    height: 100%;
    /* background-color: purple; */
}
footer .footer-container .footer-top .box .logoname .logo img{ 
    width: 100%;
    height: 100%;
    object-fit: contain;
}
footer .footer-container .footer-top .box .logoname .name{
    width: 64%;
    height: 100%;
    /* background-color: indianred; */
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer-container .footer-top .box .logoname .name h4{
    font-size: 25px;
}
footer .footer-container .footer-top .box .content{
    width: 100%;
    height: 55%;
    /* background-color: lime; */
    padding: 10px;
    box-sizing: border-box;
    margin-block: 2.5%;
}
footer .footer-container .footer-top .box .payment{
    width: 100%;
    height: 20%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
}
footer .footer-container .footer-top .box .payment .payment-icon-container{
    width: 100%;
    height: 40.3%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
footer .footer-container .footer-top .box .payment .payment-icon-container .icon{
    width: 15%;
    height: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer-container .footer-top .box .payment .payment-icon-container .icon i{
    font-size: 30px;
    color: white;
}
footer .footer-container .footer-top .box ul{
    list-style-type: none;
    color: white;
    margin: 0 0 0 20px;
    padding: 0;
}
footer .footer-container .footer-top .box ul li{
    margin-block: 5px;
} 
footer .footer-container .footer-top .box ul li a{
    color: white;
    text-decoration: none;
    opacity: 0.7;
    font-size: 15.5px;
    /* background-color: blue; */
    line-height: 32px;
}
footer .footer-container .footer-top .box ul li a:hover{
    opacity: 1;
    text-decoration: underline;
}
footer .footer-container .footer-top .box .social-container{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px;
    box-sizing: border-box;
}
footer .footer-container .footer-top .box .social-container .icon{
    width: 15.7%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer-container .footer-top .box .social-container .icon i{
    color: white;
    font-size: 25px;
    padding-top: 2px;
    padding-left: 1px;
    cursor: pointer;
    opacity: 0.5;
}
footer .footer-container .footer-top .box .social-container .icon i:hover{
    opacity: 1;
}
footer .footer-container .footer-top .box form{
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: row;
}
footer .footer-container .footer-top .box form input{
    width: 78%;
    height: 100%;
    outline: none;
    border: 1px solid black;
    /* background-color: lawngreen; */
    border-radius: 10px 0 0 10px;
    padding-left: 15px;
    border: none;
}
footer .footer-container .footer-top .box form button{
    width: 22%;
    height: 100%;
    background-color: grey;
    outline: none;
    border: none;
    border-radius: 0 10px 10px 0;
    /* border-radius: 10px; */
}
footer .footer-container .footer-bottom{
    width: 100%;
    height: 11.9%;
    /* background-color: tan; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.548);
    color: white;
}
.pagination-container{
    width: 100%;
    height: 50px;
    background-color: rgba(187, 187, 187, 0.582);
    margin-block-end: 20px;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.pagination-container .pagination-content{
    width: 35%;
    height: 70%;
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.pagination-container .pagination-content .p{
    width: 90%;
    height: 100%;
    /* background-color: tan; */
}
.pagination-container .pagination-content .p p{
    transform: translateY(5px);
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}
.pagination-container .pagination-content .p p:hover{
    text-decoration: underline;
}
.nike-product{
    width: 98%;
    overflow: hidden;
    /* background-color: red; */
    margin: 0 auto 100px auto;
}
.nike-product .nike-proudct-header {
    width: 100%;
    height: 50px;
    /* background-color: tan; */
    margin-block-end: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nike-product .nike-proudct-header h3{
    font-weight: 400;
    transform: translateY(6px);
}
.nike-product .nike-product-container{
    width: 100%;
    overflow: hidden;
    /* height: 650px; */
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.nike-product .nike-product-container .product{
    width: 100%;
    /* background-color: purple; */
    margin: 0 0 -50px 0;
    overflow: hidden;
    flex-wrap: wrap;
}
.nike-product .nike-product-container .product .item{
    width: 33%;
    height: 690px;
    /* background-color: blue; */
    padding: 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.nike-product .nike-product-container .product .item .pic{
    width: 100%;
    height: 75%;
    /* background-color: yellow; */
    margin-bottom: 2%;
    position: relative;
    z-index: 1;
}
.nike-product .nike-product-container .product .item .pic img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.nike-product .nike-product-container .product .item .des{
    width: 100%;
    height: 23%;
    /* background-color: lightseagreen; */
    display: flex;
    flex-direction: column;
    line-height: 18px;
    position: relative;
    margin-top: -30px;
}
.nike-product .nike-product-container .product .item .des p{
    text-align: center;
}
.nike-product .nike-product-container .product .item:hover .icon-hover{
    transform: translateX(0);
    opacity: 1;
    z-index: 1;
}
.nike-product .nike-product-container .product .item .icon-hover{
    width: 60px;
    height: 240px;
    /* background-color: red; */
    margin-top: 20%;
    position: absolute;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    transform: translateX(-100px);
    transition: 0.5s;
    opacity: 0;
    z-index: 0;
}
.nike-product .nike-product-container .product .item .icon-hover .icon{
    width: 100%;
    height: 24%;
    background-color: rgba(8, 189, 8, 0.733);
    margin-top: 3.4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
}
.nike-product .nike-product-container .product .item .icon-hover .icon:hover{
    transform: scale(103%);
}
.nike-product .nike-product-container .product .item .icon-hover .icon i{
    font-size: 27px;
    color: rgb(255, 255, 255);
}
.nike-product .nike-product-container .product .item .icon-hover .icon:first-child{
    margin-top: 0;
}
.feature-nike-end{
    width: 95%;
    overflow: hidden;
    /* background-color: red; */
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    flex-wrap: wrap;
}
.feature-nike-end .box{
    width: 32%;
    height: 450px;
    /* background-color: blue; */
}
.feature-nike-end .box .img{
    width: 100%;
    height: 60%;
    /* background-color: green; */
    margin-bottom: 10%;
}
.feature-nike-end .box .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.feature-nike-end .box .des{
    width: 100%;
    height: 32.46%;
    /* background-color: yellow; */
}